<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>

    <%- include('./partials/nav') %>

    <div class="not-found content">
        Oops, page not found :c
    </div>
    
    <%- include('./partials/footer') %>
</body>
</html>