<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>

    <%- include('./partials/nav') %>

    <div class="create-blog content">
        <form action="">
            <label for="title">Blog title:</label>
            <input type="text" name="title" id="title" required>
            <br><br>
            <label for="snippet">Blog snippet:</label>
            <input type="text" name="snippet" id="snippet" required>
            <br><br>
            <label for="body">Blog body:</label>
            <br>
            <textarea name="body" id="body" cols="30" rows="10" required></textarea>
            <br><br>
            <button>Submit</button>
        </form>
    </div>
    
</body>
</html>